%h1 Contacts
=link_to 'Add contact', new_contact_path, :remote => true
#errors
#search
  = render :partial => 'search'
#wrapper
  #contacts_container
    %table{:id => 'contacts'}
      %tr
        %th First name
        %th Last name
        %th
        %th
        %th

      - @contacts.each do |contact|
        = render :partial => contact

  #work
