// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  width: 2000px;

  overflow: hidden; /* add this to contain floated children */
}
#work {
  float:left; /* add this */

}
#contacts_container {
  width: 500px;
  float: left; /* add this */
}